/* Nhúng font UTM Bebas */
@font-face {
  font-family: "UTM Bebas";
  src: url("./fonts/UTM-Bebas.ttf") format("truetype");
}
/* Nhúng font Montserrat Medium */
@font-face {
  font-family: "Montserrat Medium";
  src: url("./fonts/Montserrat-Medium.ttf") format("truetype");
}
/* Nhúng font Montserrat Bold*/
@font-face {
  font-family: "Montserrat Bold";
  src: url("./fonts/Montserrat-Bold.ttf") format("truetype");
}
body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #14213d;
  margin-left: 10px;
  margin-right: 10px;
}

main,
header,
nav {
  max-width: 960px;
  margin: 0 auto;
}

a {
  font-family: "Montserrat Medium";
  text-decoration: none;
  font-size: 25px;
  color: #e5e5e5;
  transition: 250ms;
}

h1 {
  margin: 20px;
  color: #fca311;
}
h2 {
  font-family: "Montserrat Bold";
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fca311;
}

p {
  font-family: "Montserrat Medium";
  font-size: 25px;
  line-height: 30px;
  color: #fca311;
}

img {
  display: block;
  width: 500px;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

ul {
  list-style-type: disc;
}
div.tieu-de-web h1 {
  font-family: "UTM Bebas", sans-serif; /* chỉnh font bebas*/
  font-size: 60px; /* chỉnh kích thước 50px*/
  text-align: center; /* căn chỉnh chữ ở giữa*/
}

div.mo-dau-bai-viet h2 {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 30px;
  line-height: 35px;
  text-align: left;
}

.menu h2 {
  color: #e5e5e5;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.menu a {
  display: inline-block;
  line-height: 30px;
  margin: 10px;
  transition: 250ms;
  width: 350px;
}

.menu a:hover {
  background-color: #fca311;
  color: #fcfcfc;
  font-weight: bold;
  padding: 5px 10px;
  width: 350px;
  margin: 8px;
  border-radius: 5px;
}
p a:hover {
  background-color: #fcfcfc;
  color: #fca311;
  padding: 2px 5px;
  border-radius: 5px;
}
.dropdown {
  width: 274.59px;
}

.dropdown:hover .dropdown-content {
  display: block;
  margin-top: 10px;
  color: #fca311;
}

.dropdown-content {
  display: none;
  margin-left: 25px;
}

div.lien-he p {
  text-align: center;
}
span a img {
  width: 50px;
}
