/* Nhúng font UTM Bebas */
@font-face {
  font-family: "UTM Bebas";
  src: url("./fonts/UTM-Bebas.ttf") format("truetype");
}
/* Nhúng font Montserrat Medium */
@font-face {
  font-family: "Montserrat Medium";
  src: url("./fonts/Montserrat-Medium.ttf") format("truetype");
}
/* Nhúng font Montserrat Bold*/
@font-face {
  font-family: "Montserrat Bold";
  src: url("./fonts/Montserrat-Bold.ttf") format("truetype");
}
body,
html {
  margin: 0;
  padding: 0;
}

main,
header {
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  margin: 20px;
}
h2 {
  font-family: "Montserrat Bold";
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  font-family: "Montserrat Medium";
  font-size: 25px;
  line-height: 30px;
}

img {
  display: block;
  width: 500px;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

ul {
  list-style-type: disc;
}

div.tieu-de-web h1 {
  font-family: "UTM Bebas", sans-serif; /* chỉnh font bebas*/
  font-size: 60px; /* chỉnh kích thước 50px*/
  text-align: center; /* căn chỉnh chữ ở giữa*/
}

div.mo-dau-bai-viet h2 {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 30px;
  line-height: 35px;
  text-align: left;
}
